@charset "UTF-8";

body {
	width: 650px;
}

.form {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	margin-top: 15px;
}

.login_btn {
	display: flex;
	justify-content: center;
}

.question_area {
	width: 100%;
	margin-top: 20px;
	display: flex;
}

.question_area textarea {
	 width: 500px;
	 height: 100px;
}

.question_area label {
	width: 7%;
	vertical-align:top
}

.question_form {
	width: 90%;
}

.question_form p {
	width: 95%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.answer_area {
	width: 100%;
	margin-top: 20px;
	display: flex;
}

.answer_area label {
	width: 7%;;
}

.answer_form, .answer_form_area {
	width: 100%;
	display: flex;
	margin-bottom: 10px;
	height: 26px;
}

.answer_form_area input {
	display: block;
	width: 85%;
}


.answer_form input {
	display: block;
	width: 100%;
}

.answer_form_area button {
	display: block;
	margin-left: 10px;
}


.answer_form p {
	width: 100%;
	overflow-wrap: break-word;
}

.answer_form_list {
	width: 90%;
}

.answer_form_list p {
	width: 100%;
	overflow-wrap: break-word;
	margin-bottom: 10px;
}

label {
	margin-right: 10px;
}

.btn_area, .buttom_menu_area {
	width: 100%;
	text-align: right;
}

.buttom_menu_area a {
	color: red;
	text-decoration: none;
}

.menu_area {
	width: 100%;
}

.menu_area button {
	display: block;
	width: 300px;
	margin: 10px auto;
}

.new_btn {
	display: flex;
	margin: 0 auto;
}

.questions_list {
	display: flex;
	margin-bottom: 5px;
}

.questions_list p {
	width: 85%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.answers_list {
	margin-left: 20px;
}

.answers_list p {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

p {
	margin: 0;
}

.list_area {
	width: 100%;
	margin-bottom: 10px;
	display: flex;
}

.list {
	width: 84.5%;
}

.error {
	padding-top:10px;
	color: red;
}

h2 {
	text-align: center;
}

table {
  border-collapse: collapse;
}

td, th {
	padding: 7px;
	width: 210px;
	 border: solid 1px black;
}
