@charset "UTF-8";

body {
	width: 600px;
}

.question_area input {
	 width: 500px;
	 height: 100px;
}

.question_area label {
	vertical-align:top
}

.question_area {
	margin-top: 20px;
	display: flex;
}

.answer_area {
	margin-top: 20px;
	display: flex;
}

.answer_form {
	flex-direction: column;
}

.answer_form input {
	margin-bottom: 10px;
	display: block;
	width: 500px;
}

label {
	margin-right: 10px;
}

.btn_area {
	width: 100%;
	text-align: right;
}

.menu_area {
	width: 100%;
}

.menu_area button {
	display: block;
	width: 300px;
	margin: 10px auto;
}

.new_btn {
	display: flex;
	margin: 0 auto;
}

.questions_list {
	display: flex;
	margin-bottom: 5px;
}

.answers_list {
	margin-left: 20px;
}

p {
	margin: 0;
}

.list_area {
	width: 100%;
	margin-bottom: 10px;
	display: flex;
}

.list {
	width: 84.5%;
}

